Generate positive list of numbers from a given list of integers

In [ ]:
list1=[1,2,-6,-5,-4,-3,9,5]
list2=[i for i in list1 if i>0]
list2

[1, 2, 9, 5]

Square of N numbers

In [ ]:
list1=[2,6,5,9,3,4]
list2=[i**2 for i in list1 ]
list2

[4, 36, 25, 81, 9, 16]

Form a list of vowels selected from a given word

In [ ]:
list1=input("enter a word:")
list2=[i for i in list1 if i in "aeiouAEIOU"]
print(list2)

enter a word:beema mol
['e', 'e', 'a', 'o']

List ordinal value of each element of a word (Hint: use ord() to get ordinal values)

In [ ]:
list1=input("enter a word:")
list2=[ord(i) for i in list1]
print(list2)

enter a word:beema mol
[98, 101, 101, 109, 97, 32, 109, 111, 108]

co1 5Prompt the user for a list of integers. For all values greater than 100, store ‘over’ instead.

In [ ]:
lim=int(input("enter the limit="))
l1=[]
print("enter ",lim,"values")
for a in range(lim):
  inp=int (input("enter value:"))
  if(inp>100):
    l1.append("over")
  else:
       l1.append(inp)
  print(l1)

enter the limit=3
enter  3 values
enter value:1
[1]
enter value:2
[1, 2]
enter value:3
[1, 2, 3]

c01 6 Store a list of first names. Count the occurrences of ‘a’ within the list

In [ ]:
name=['beema','anzi','asif']
for i in name:
  print("a","occurs in",i,i.count('a'),"times")

a occurs in beema 1 times
a occurs in anzi 1 times
a occurs in asif 1 times

c02 9.
Construct following pattern using nested loop

In [ ]:
n=5;
for i in range(n):
    for j in range(i):
        print('*',end=" ")
    print(" ")

for i in range(n,0,-1):
       for j in range(i):
            print('*',end=" ")
       print(" ")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

CO2:10:Generate all factors of a number.

In [ ]:
num=int(input("enter the number:"))
for i in range (1,num+1):
  if(num % i==0):
      print(i)

enter the number:4
1
2
4