write a program to input an number. if the number is greater than 10 display appropriate message

In [ ]:

x=int(input("enter a number:"))
if(x>10):
  print(x,"the number is greater than 10")

enter a number:12
12 the number is graeter than 10

write a program to input the age of a person check whether  the person is eligible to vote and display appropriate message

In [ ]:

x=int(input("enter a age:"))
if(x>18):
   print("eligible for vote",x)
else:
   print("not eligible for vote",x)

enter a age:45
eligible for vote 45

write a program to input two numbers and find the largest of two numbers

In [ ]:

x=int(input("enter 1st number:"))
y=int(input("enter 2nd number:"))
if(x>y):
   print(x,"is largest")
else:
 print(y,"is largest")

enter 1st number:90
enter 2nd number:78
90 is largest

write a program to input a number check whether the number is odd or even

In [ ]:

x=int(input("enter a number:"))
if(x%2==0):
   print(x,"is a even")
else:
  print(x,"is a odd")

enter a number:78
78 is a even

write a program to input two numbers find there sum display appropriate message if the sum is greater than 10

In [ ]:

x=int(input("enter 1st number:"))
y=int(input("enter 2nd number:"))
sum=x+y
if(sum>10):
  print(sum,"is greater than 10")
else:
  print(sum,"is not greater than 10")

enter 1st number:34
enter 2nd number:89
123 is greater than 10

write a program find the largest of three number

In [ ]:


x=int(input("enter 1st number:"))
y=int(input("enter 2nd number:"))
z=int(input("enter 3rd number:"))
if(x>y)and(x>z):
    print(x,"is greater")
elif(y>x)and(y>z):
    print(y,"is greater")
else:
    print(z,"is greater")

enter 1st number:89
enter 2nd number:98
enter 3rd number:35
98 is greater

write a program to display the first N natural numbers

In [ ]:
x=int(input("enter the limit:"))
for i in range (x):
    print(i)

enter the limit:30
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

write aprogram to display the first N even numbers

In [ ]:
x=int(input("enter the limit:"))
for i in range(2,x+1):
  if(i%2==0):
     print(i)

enter the limit:10
2
4
6
8
10

write a program to display even numbers up to N

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

co1 :2 Display future leap years from current year to a final year entered by user.

In [ ]:
x=int(input("enter a year:"))
if((x%4==0) and (x%100!=0)) or (x%400==0):
     print(x,"is a leap year")
else:
     print(x,"is a not a leap year")

enter a year:2020
2020 is a leap year

co1: 10 Accept the radius from user and find area of circle

In [ ]:
r=int(input("enter the radius:"))
radius=(3.14*r*r)
print(radius)

enter the radius:4
50.24

co1:11 Find biggest of 3 numbers entered.

In [ ]:
a=int(input("enter the first number:"))
b=int(input("enter the second number:"))
c=int(input("enter the third number:"))
if(a>b) and (a>c):
     print(a,"is greater")
elif(b>a)and(b>c):
     print(b,"is greater")
else:
     print(c,"is greater")

ente the first number:34
ente the second number:56
ente the third number:76
76 is greater

**co2**:1 Program to find the factorial of a number

In [ ]:
n=int(input("enter a number"))
fact=1
for i in range(1,n+1):
  fact=fact*i
print("factorial of",n,"is",fact)

enter a number3
factorial of 3 is 6

co2:Generate Fibonacci series of N terms

In [ ]:
a=0
b=1
n=int(input("enter the limit:"))
print(a)
print(b)
for i in range(n-2):
  c=a+b
  print(c)
  a=b
  b=c

enter the limit:5
0
1
1
2
3

co2:6
Count the number of characters (character frequency) in a string

In [ ]:
name=str(input("enter a string:"))
for i in name:
    frequency=name.count(i)
    print(str(i)+":"+str(frequency),end=",")

enter a string:beema
b:1,e:2,e:2,m:1,a:1,

co1:19
Find gcd of 2 numbers.

In [ ]:
num1=int(input("enter the number1:"))
num2=int(input("enter the number2:"))
for i in range (1,min(num1,num2)):
  if num1%i==0 and num2%i==0:
    gcd=i
print("The gcd of", num1 ,"and", num2 ,"is:",gcd)

enter the number1:30
enter the number2:40
The gcd of 30 and 40 is: 10

c01:20From a list of integers, create a list removing even numbers.

In [ ]:
list1=[1,2,4,6,3,5,8,7,9]
list2=[i for i in list1 if i%2!=0]
list2

[1, 3, 5, 7, 9]

co1:14 Accept an integer n and compute n+nn+nnn.

In [ ]:
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

Input an integer : 3
369

c01:7 Enter 2 lists of integers. Check (a) Whether list are of same length (b) whether list sums to same value (c) whether any value occur in both

In [ ]:
l1=[]
l2=[]
n1=int(input("Enter the size of list 1 : "))
print("Enter list 1 : ")
for i in range(n1):
  i=int(input())
  l1.append(i)

n2=int(input("Enter the size of list 2 : "))
print("Enter list 2 : ")
for i in range(n2):
  i=int(input())
  l2.append(i)

if n1==n2:
  print("Lists are of same length")
else:
  print("Lists are of different length")


if sum(l1)==sum(l2):
  print("Sum of lists are of same")
else:
  print("Sum of lists are different")

res=[i for i in l1 if i in l2]
print("Common elements : ",res)

Enter the size of list 1 : 4
Enter list 1 :
1
2
4
5
Enter the size of list 2 : 4
Enter list 2 :
2
6
7
9
Lists are of same length
Sum of lists are different
Common elements :  [2]

c01 9 Create a string from given string where first and last characters exchanged.  [eg: python -
> nythop]

In [ ]:
name="beema"
name[-1]+ name[1:-1]+name[0]#string concatination"+""

'aeemb'

In [ ]:
n=int(input("enter n:"))
for i in range(1,n+1):
  print("*"*i)
for i in range(n-1,0,-1):
  print("*"*i)

enter n:5
*
**
***
****
*****
****
***
**
*

In [ ]:
print("*"*4)

****

c02 7 Add ‘ing’ at the end of a given string. If it already ends with ‘ing’, then add ‘ly’

In [ ]:
def add_ing_ly(s):
     if s.endswith('ing'):
       return s+'LY'
     else:
       return s+'ING'
string=input("enter the string:")
result_string = add_ing_ly(string)
print("result:",result_string)

enter the string:play
result: playING

c02 11Write lambda functions to find area of square, rectangle and triangle.

In [ ]:
#area of square
import math
p=int(input("enter the number:"))
lamb1 = lambda p: p*p
print("area of square",lamb1(p))
#area of rectangle
q=int(input("enter the number:"))
r=int(input("enter the number:"))
lamb2=lambda q,r:q*r
print("area of rectangle",lamb2(q,r))
#area of triangle
a=int(input("enter the number:"))
b=int(input("enter the number:"))
lamb3=lambda a,b:0.5*a*b
print("area of traiangle",lamb3(a,b))

enter the number:2
area of square 4
enter the number:3
enter the number:1
area of rectangle 3
enter the number:4
enter the number:2
area of traiangle 4.0

Merge two dictionaries.

In [ ]:
d1={"name":"beema","age":"21","height":"150"}
print(d1)
print(d1.keys())
print(d1.values())
print(d1["age"])
d1.update({"name":"basil"})
print(d1)
d2={'mobile':7025195640}
print(d1|d2)
d3={**d1,**d2}
print(d3)
d1.update({"age":"23"})
print(d1)
d1.update({"z":"23"})
print(d1)
sorted(d1.keys())
sorted(d1.items())

{'name': 'beema', 'age': '21', 'height': '150'}
dict_keys(['name', 'age', 'height'])
dict_values(['beema', '21', '150'])
21
{'name': 'basil', 'age': '21', 'height': '150'}
{'name': 'basil', 'age': '21', 'height': '150', 'mobile': 7025195640}
{'name': 'basil', 'age': '21', 'height': '150', 'mobile': 7025195640}
{'name': 'basil', 'age': '23', 'height': '150'}
{'name': 'basil', 'age': '23', 'height': '150', 'z': '23'}

[('age', '23'), ('height', '150'), ('name', 'basil'), ('z', '23')]

c01 4Count the occurrences of each word in a line of text.

In [ ]:
sent=input("enter a sentence:")
word=sent.split()
for a in word:
  print("the word" +a+ "has occured",word.count(a),"times")

enter a sentence:beema is a beautiful girl,this girl is good
the wordbeemahas occured 1 times
the wordishas occured 2 times
the wordahas occured 1 times
the wordbeautifulhas occured 1 times
the wordgirl,thishas occured 1 times
the wordgirlhas occured 1 times
the wordishas occured 2 times
the wordgoodhas occured 1 times

c02 :8 Accept a list of words and return length of longest word.

In [ ]:
arr=[ ]
word=""
print("enter a 5 words:")
for i in range(5):
  arr.append(input("enter element:"))
l=0
for a in arr:
  if len(a)>1:
    l=len(a)
    word=a
print("longest word:",word)
print("length:",l)

enter a 5 words:
enter element:beema
enter element:is
enter element:a
enter element:good
enter element:student
longest word: student
length: 7

c02 3:Find the sum of all items in a list

In [ ]:
list1={23,45,60,34,67}
sum(list1)

229

co2:4 Generate a list of four digit numbers in a given range with all their digits even and the number is a perfect square.

In [ ]:
import math
u=int(input("Enter upper range: "))
for i in range(1000,u+1):
     if i%2==0:
        sqrt_num = math. sqrt(i)
        if sqrt_num. is_integer():
                 print(i)

Enter upper range: 1500
1024
1156
1296
1444

co2 :5 Display the given pyramid with step number accepted from user. Eg: N=4
1
2 4
3 6 9
4 8 12 16

In [ ]:
n = int(input("Enter number of rows: "))
for i in range(1,n+1):
 for j in range(1,i+1):
  print(j*i,end=" ")
 print()

Enter number of rows: 5
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

c0 8: Get a string from an input string where all occurrences of first character replaced with ‘$’, except first character.

In [ ]:
str1=input("Enter a word : ")
f_c=str1[0]
str1=str1.replace(f_c,'$')
str1=f_c+str1[1:]
print(str1)

Enter a word : eema
e$ma

co1 11 Find biggest of 3 numbers entered.

In [ ]:
a=int(input("Enter the first number : "))
b=int(input("Enter the second number : "))
c=int(input("Enter the third number : "))
if a>b and a>c:
  print(a, "is the largest number")
elif b>a and b>c:
  print(b, "is the largest number")
else:
  print(c, "is the largest number")

Enter the first number : 2
Enter the second number : 3
Enter the third number : 5
5 is the largest number

co1:12 Accept a file name from user and print extension of that.

In [ ]:
f_name=input("Enter a filename : ")
f_ext=f_name.split(".")
print("Extension : ",f_ext[-1])

Enter a filename : beema.html
Extension :  html

 co1:13Create a list of colors from comma-separated color names entered by user. Display first and last colors.

In [ ]:
colors=["Red","Yellow","Green","Blue","Violet"]
print("First color : ",colors[0]," Last color : ",colors[-1])

First color :  Red  Last color :  Violet

co1:15Print out all colors from color-list1 not contained in color-list2.

In [ ]:
c1=["Red","Yellow","Green","Blue","Violet"]
c2=["Cyan","Yellow","Pink","Blue","Magenta"]
res=[i for i in c2 if i not in c1]
print("Colors from color-list 1 not in colo-list 2 : ",res)

Colors from color-list 1 not in colo-list 2 :  ['Cyan', 'Pink', 'Magenta']

co1:16Create a single string separated with space from two strings by swapping the character at position 1.

In [ ]:
s1=input("Enter string 1 : ")
s2=input("Enter string 2 : ")
s3=s2[0]+s1[1:]+" "+s1[0]+s2[1:]
print("Swapped string :",s3)

Enter string 1 : beema
Enter string 2 : mol
Swapped string : meema bol

In [ ]:
d = {'beema': 10, 'alfi': 20,'badu': 30}
print("Ascending order : ",dict(sorted(d.items())))
print("Descending order : ",dict(sorted(d.items(), reverse=True)))

Ascending order :  {'alfi': 20, 'badu': 30, 'beema': 10}
Descending order :  {'beema': 10, 'badu': 30, 'alfi': 20}

In [ ]:

d1 = {'beema': 10,'badu': 20, 'Ram': 30}
d2 = {'alfi': 20,'ansi': 40, 'asif': 50}
print("Merged dictionaries :",d1|d2)

Merged dictionaries : {'beema': 10, 'badu': 20, 'Ram': 30, 'alfi': 20, 'ansi': 40, 'asif': 50}