In [ ]:
#program to display message "welcome to mits"
print("welcome to mits")

welcome to mits

In [ ]:
#program to display the message "muthoot institute of technology and science",varikoli,puthencruz (\n is an escape sequence)
print("muthoot institute of technology and science\nvarikoli\nputhencruz")

muthoot institute of technology and science
varikoli
puthencruz

In [ ]:
# another way for printing in new lines
print("""muthoot institute of technology and science
varikoli
puthencruz""")

muthoot institute of technology and science
varikoli
puthencruz

In [ ]:
#write a program to display message "mary's notebook is white in colour"
print("mary's notebook is in white in colour")

mary's notebook is in white in colour

In [ ]:
#write a program to assign values "5 to x" and "10 to y" and print the same (using assigment operator) find sum
x=5
y=10
print("x=",x)
print("y=",y)
print("x+y=",x+y)
print("value of x=",x)
print("value of y=",y)

x= 5
y= 10
x+y= 15
value of x= 5
value of y= 10

In [ ]:
#write a program to input two numbers find sum difference and product
x=int(input("enter the first number="))
y=int(input("enter the second number="))
print("value of x=",x)
print("value of y=",y)
print("sum=",x+y)
print("difference=",x-y)
print("product=",x*y)

enter the first number=10
enter the second number=5
value of x= 10
value of y= 5
sum= 15
difference= 5
product= 50